{% extends "base.html" %}

{% block main %}
  <div class="panel-body">
  <form action="{{ url_for('profile_add') }}" method=post enctype="multipart/form-data" role="form">

            <div class="form-group">
    {{ form.f_name.label }}
    {{ form.first_name}}<br />
            </div>
  <div class="form-group">
    {{ form.l_name.label }}
    {{ form.last_name}}<br />
</div>
<div class="form-group">
      {{ form.age.label }}
    {{ form.age}}<br />
 </div>
<div class="form-group">
    {{ form.gender.label }}
    {{ form.gender}}<br />
 </div>
<div class="form-group">
      {{ form.image.label }}
    {{ form.image}}
    <br />
</div>
<div class="form-group">
      {{ form.bio.label }}
    {{ form.bio}}
    <br />
</div>
    {{ form.submit}}
  </form>
    </div>
</div>
{% endblock %}
